.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.error {
  font-size: large;
  color: crimson;
  align-self: center;
}

.loading {
  font-size: large;
  align-self: center;
}
